*{
    margin: 0;
    padding: 0;
}
body{
    overflow-x: hidden;
}
.logo{
    
    height: 120px;
    position: relative;
    left: 60px;
}
.navbar{
    margin-top: 50px;
    background-color: #CFE3F3;
}
.col{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    margin-left: 15px;
}
.text{
    color: #549CD5;
}
.blac{
    background-color:rgba(0, 0, 0, 0.179);
    height: fit-content;
    position: relative;
    top: 50px;
   padding-top: 50px;
   height: 620px;
}
.rest{
    font-size: 6em;
    position: relative;
    bottom: 150px;
}
.ter{
    position: relative;
    bottom: 130px;
    font-size: 3em;
} 
.tern{
    color:rgb(49, 49, 197)
}
.parent1{
    height: 80px;
    width:90%;
    background-color: #549CD5;
    display: flex;
    margin-top: 120px;
    margin-left: 5%;
border-radius: 0 0 25px 25px;
   justify-content: center;
   align-items: center;
}
.poss{
    color: white;
}
.polo{
position: relative;
top: 60px;
    height: 500px;
    background-color: white;
    border-color: #707070;
    display: flex;
    flex-direction: column;
    align-items: center;
gap: 70px;
}

.prop{
    height:700px ;
    font-size: 20px;
}
.fi{
    position: relative;
    top: 27px;
}
.geni{
    display: flex;
    margin-left: 70px;
    height: 400px;
    position: relative;
top: 60px;
}
.rit{
    display: flex;
    flex-direction: column;
    margin-left: 570px;
    color:#549CD5;
    margin-bottom: 20px;
}
.bur{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 80px;
    position: relative;
    top: 50px;
}
.cesse{
    color: #FFFFFF;
    position: relative;
    bottom: 150px;
    left: 50px;
}
.cess{
    width: 550px;
    height: 400px;
}
.rech{
    position: relative;
    right: 30px;
}
.rech1{
    position: relative;
    right: 50px; 
}
.footer {
  position: relative;
  background-image: url(../Images/loupe.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0px !important;
  background-color: rgba(3, 3, 3, 0.857);
  height: fit-content;
}
.lgn1Foot {
  width: 100% !important;
  padding: 0px !important;
  margin: 0px !important;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}
.svlg {
  width: 100% !important;
} 
.lien{
  text-decoration: none;
}

.CoteGauche {
  width: 44%;
  margin-left: 15px;
  min-width: 250px;
  display: flex;
  justify-content: center;
}

.LogoPrprtes {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 15px;
  width: 100%;
}

.lgo {
  max-width: 150px;
}
.lafi{
  color: white;
 position: relative;
 left: 270px;
 bottom: 90px;
 display: flex;
 flex-wrap: wrap;
}
.doir{
  display: flex;
  margin-left: 700px;
  flex-wrap: wrap;
  position: relative;
  bottom: 150px;
  flex-direction: column;
}
.consul{
  color: white;
}
.uter{
  width: 150px;
}
.bolv{
  color: white;
}

.L1Gche {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  width: fit-content;
  height: fit-content;
  /* background-color: rgba(255, 0, 0, 0.241); */
}
.olo{
  position: relative;
  left: 170px;
  bottom: 25px;
}
.bi{
  color: white;
}
.DivTelMail {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 200px;
  align-items: start;
  /* background-color: rgba(0, 0, 0, 0.565); */
}

.L1droite {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: fit-content;
  min-width: 400px;
  height: fit-content;
}

.LiensFoot {

  font-size: 28px;
  font-weight: 200;
  text-decoration: none;
  color: aliceblue;
}

.icon {
  width: 40px;
  height: 40px;

}

.twt {
  border-radius: 55px;
}

.LgnSuiv {
  margin-top: 16px;
  width: 100%;
  margin: 0px !important;
  padding: 0px !important;
}

.FlouNoir {
  z-index: 5;
  width: 100%;
  height: 100%;
  /* padding: 0px;
  margin: 0px; */
  background-color:rgba(83, 80, 80, 0.807);
}

/* .parent {
  position: relative;
  width: 100%;
  height: 500px;
  
}

.child1 {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0; 
  background-image: url(../images/IMAGEfooter.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.child2 {
  z-index: 1;
  opacity: 35%;
  background: rgba(0, 0, 0, 0.983);
} */

@media screen and (max-width:489px) {
  .imgEtSavoirPlus {}

  .L1droite {
    align-items: center;
    text-align: center;
    width: fit-content;
  }
}

@media screen and (max-width:920px) {
  .lgn1Foot {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .DivTelMail {
    align-items: center;
  }

  .icon {
    width: 25px;
    height: 25px;
  }

  .L1droite {
    align-items: center;
    text-align: center;

    border-color: rgb(0, 0, 0);
    border-radius: 25px;
    box-shadow: 4px 4px 6px 5px #000;
    background-color: rgba(0, 0, 255, 0.326);
  }
}


/* .imtes{
      
} */

.card {
  background: orange;
  transition: 1s;
}

.card:hover {
  transform: scale(1.1);
  background: #ff800a;
  z-index: 2;
  box-shadow: 2px 2px 2px #000;

}

#Copuntig {
  height: 80px;
}

#IOT {
  height: 80px;
}

#CIBLE {
  background-color: #d9d7d5;
  height: 100px;
}
#FORMAT{
  height: 80px;
}

/* CONTACT PAGE */
.bdContact {
  padding: 0;
  margin: 0;
  background-color: #000;
}

.txtcontact {
  font-family: 'Poppins', sans-serif;
  text-align: center;
  position: absolute;
  top: 60%;
  left: 50%;
  font-weight: bold;
  font-size: 5rem;
  transform: translateX(-50%) translateY(-50%);
}
@media screen and (max-width:502px) {
  .txtcontact {
    font-size: 3rem;
  }
}
@media screen and (max-width:313px) {
  .txtcontact {
    font-size: 2rem;
  }
}
.iconPge{
  width: 25%;
  height: 20%;
}


