*{
    margin: 0;
    padding: 0;
}
body{
    overflow-x: hidden;
}
.logo{
    
    height: 120px;
    position: relative;
    left: 60px;
}
.navbar{
    margin-top: 50px;
    background-color: #CFE3F3;
}
.col{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    margin-left: 15px;
}
.text{
    color: #549CD5;
}
.rech{
    position: relative;
    right: 30px;
}
.rech1{
    position: relative;
    right: 50px; 
}
.parent1{
    height: 80px;
    width:90%;
    background-color: #549CD5;
    display: flex;
    margin-top: 50px;
    margin-left: 5%;
border-radius: 0 0 25px 25px;
   justify-content: center;
   align-items: center;
}
.poss{
    color: white;
}
.lien{
    text-decoration: none;
  }
  .oll{
    display: flex;
    justify-content: center;
    margin-top: 40px;
  }
  .para1{
    font-size: 35px;
    width: 1100px;
  }
  .lign1{
    display: flex;
  }
  .bur{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 60px;
   margin-top: 60px;
}
.cess{
    width: 510px;
    height: 550px;
}
.cesse{
    color: #FFFFFF;
    position: relative;
    bottom: 120px;
    left: 50px;
}
.bur1{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 60px;
    position: relative;
    bottom: 30px;
}
.cess1{
    width: 510px;
    height: 550px;
}
.cesse1{
    color: #FFFFFF;
    position: relative;
    bottom: 120px;
    left: 50px;
}
.cesse2{
    color:#465FC1;
    position: relative;
    bottom: 120px;
    left: 50px;
}
.footer {
    position: relative;
    background-image: url(../Images/loupe.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0px !important;
    background-color: rgba(3, 3, 3, 0.857);
    height: fit-content;
    bottom: 80px;
  }
.lafi{
    color: white;
   position: relative;
   left: 270px;
   bottom: 90px;
   display: flex;
   flex-wrap: wrap;
  }
  .FlouNoir {
    z-index: 5;
    width: 100%;
    height: 100%;
    /* padding: 0px;
    margin: 0px; */
    background-color:rgba(83, 80, 80, 0.807);
  }
  .LogoPrprtes {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 15px;
    width: 100%;
  }
  .lgo {
    max-width: 150px;
  }
  .lgn1Foot {
    width: 100% !important;
    padding: 0px !important;
    margin: 0px !important;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
  }
  .CoteGauche {
    width: 44%;
    margin-left: 15px;
    min-width: 250px;
    display: flex;
    justify-content: center;
  }
  .L1Gche {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    width: fit-content;
    height: fit-content;
    /* background-color: rgba(255, 0, 0, 0.241); */
  }
  .DivTelMail {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 200px;
    align-items: start;
    /* background-color: rgba(0, 0, 0, 0.565); */
  }
  .lien{
    text-decoration: none;
  }
  .LiensFoot {
    font-size: 28px;
    font-weight: 200;
    text-decoration: none;
    color: aliceblue;
  }
  .L1droite {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: fit-content;
    min-width: 400px;
    height: fit-content;
  }
  .doir{
    display: flex;
    margin-left: 700px;
    flex-wrap: wrap;
    position: relative;
    bottom: 150px;
    flex-direction: column;
  }
  .consul{
    color: white;
  }
  .bout{
    background-color: aliceblue;
  }
  .olo{
    position: relative;
    left: 170px;
    bottom: 25px;
  }
  .bi{
    color: white;
  }